*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    background: #AAAAAA;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

@mixin toggler($inverse) {
    $toggle-in: 'left';
    $toggle-out: 'right';

    &.in {
        @if $inverse {
            right: 0;
        } @else {
            left: -300px;
        }

        .toggle {
            .glyphicon-chevron-#{$toggle-in} {
                display: none;
            }
        }
    }

    &.out {
        @if $inverse {
            right: -300px;
        } @else {
            left: 0;
        }

        .toggle {
            .glyphicon-chevron-#{$toggle-out} {
                display: none;
            }
        }
    }

    .toggle {
        position: absolute;
        background-color: white;
        padding: 7px;
        border: solid 1px #333;
        @if $inverse {
            border-radius: 4px 0 0 4px;
            left: -30px;
        } @else {
            border-radius: 0 4px 4px 0;
            right: -30px;
        }
        top: 13px;
    }
}

.toolbar {
    position: absolute;
    height: 100%;
    bottom: 0;
    background-color: #FFFFFF;
    border-right: solid 1px #333;
    z-index: 20;
    width: 300px;
    transition: left .5s linear;

    @include toggler(false);

    .nav {
        border-bottom: solid 1px #ccc;
        width: 100%;
    }

    .nav-tabs {
        margin-top: 6px;
        float: left;
    }

    .tab-content {
        width: 100%;
        float: left;

        .tab-pane {
            margin: 6px;
        }
    }

    #collection {

    }

    .collection-list {
        max-height: calc(100vh - 160px);
        display: inline-block;

        .file {
            width: 85px;
            height: 85px;
            float: left;
            background-size: cover;
            margin: 3px;
            border: solid 1px #ccc;
            cursor: pointer;

            &.smaller {
                width: 61px;
                height: 61px;
            }
        }
    }
}

.glyphicon:hover {
    color: #707070;
}

input[type="checkbox"] {
    margin: 10px 0 11px;
}

.element-manager {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #FFFFFF;
    z-index: 20;
    border-left: solid 1px #333;
    transition: right 0.5s linear;

    @include toggler(true);

    form {
        padding-top: 10px;
    }
}

.map-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #787878;
    transform: scale( 1 );
    transition: transform 0.5s linear;
    will-change: transform;

    .grid {
        position: absolute;
        pointer-events: none;
        width: 100%;
        height: 100%;
        z-index: 18;

        .grid-line {
            position: absolute;
            display: block;
            border-bottom: 1px solid;
            border-right: 1px solid;
        }
    }

    .asset-file {
        position: absolute;
        z-index: 15;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.navbar-nav > li > a {
  padding: 6px 10px 6px 6px;
}

.pointer {
    cursor: pointer;
}

.dropzone {
    float: left;
    width: 100%;
    border: dashed #ccc 1px;
    border-radius: 6px;
    padding: 16px;
    color: #ccc;
    text-align: center;
    cursor: pointer;
    margin: 4px 0 6px 0;

    &.hovering {
        border: dashed #333 1px;
    }
}

.popup {
    position: absolute;
    width: 400px;
    height: auto;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: solid 1px #111111;
    border-radius: 6px;
    z-index: 20;
    box-shadow: 4px 4px 12px 2px rgba(128,128,128,1);

    &-header {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid #111111;
        background-color: #3c3c3c;

        .title {
            padding-left: 10px;
            color: #FFFFFF;
        }
    }

    &-body {
        padding: 10px;
    }

    &-footer {
        border-top: solid 1px #111111;
        padding: 10px;
    }
}

.map-controls {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    background: rgba(0,0,0,0.4);
    border-radius: 5px;
    padding: 10px 6px 6px 6px;
    z-index: 100;

    .icon {
        float: left;
        color: white;
        font-size: 20px;
        margin: 0 6px;

        &.active {
            color: #800000;
        }
    }


}